<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irmi</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/styles.css')}}" />
</head>
<body>
    <div class="container">
        <h1>(Impressionable) Music Recommendation System</h1>
        <form id="music-form" action="/recommendations">
            <label for="mood">Select a mood:</label>
            <select name="mood" id="mood">
                <option value="happy">Happy</option>
                <option value="sad">Sad</option>
                <option value="angry">Angry</option>
                <option value="relaxed">Relaxed</option>
            </select>
            <button type="submit" id="submit-btn">Get Recommendation</button>
        </form>
    </div>
</body>
</html>
