<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles-recommendations.css')}}">
</head>
<body>
    <div class="container">
        <h1>Recommended Songs</h1>
        <div id="recommendations">
            <!-- The recommendations will be populated by JavaScript -->
        </div>
    </div>

    <script>
        const recommendationsData = {{ track_ids|tojson|safe }};
        const accessToken = "{{ access_token }}";
        const userId = "{{ user_id }}";
    </script>
    <script src="../static/javascript/recommendations.js"></script>
</body>
</html>

